<div class="flex gap-2">
  <div>
    <p
      class="border border-primary p-2 rounded-md text-center w-24 text-5xl font-medium"
    >
      22
    </p>
    <p>días</p>
  </div>
  <div>
    <p
      class="border border-primary p-2 rounded-md text-center w-24 text-5xl font-medium"
    >
      03
    </p>
    <p>horas</p>
  </div>
  <div>
    <p
      class="border border-primary p-2 rounded-md text-center w-24 text-5xl font-medium"
    >
      07
    </p>
    <p>minutos</p>
  </div>
  <div>
    <p
      class="border border-primary p-2 rounded-md text-center w-24 text-5xl font-medium"
    >
      27
    </p>
    <p>segundos</p>
  </div>
</div>
