<section class="w-full px-5 bg-background text-white">
  <div class="mx-auto max-w-7xl flex">
    <div>
      <div>
        <p>CUANDO: 11/06/2024</p>
        <p>HORA: 18:00 CEST</p>
      </div>
      <div>
        <h1>Aprende Gratis ChatGPT desde 0</h1>
        <p>
          Mejora tu productividad y eficiencia en tu negocio o en tu trabajo.
          Únete a nosotros para desbloquear nuevas habilidades
        </p>
      </div>
      <div>
        <p>El Taller comienza en:</p>
        <p>Countdown</p>
      </div>
    </div>
    <div>
      video
      <button> button </button>
    </div>
  </div>
</section>
