---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Taller Gratis - Aprende ChatGPT desde 0</title>
  </head>
  <body>
    <main class="w-full">
      <slot />
     </main>
  </body>
</html>
